{% extends 'base.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Soporte</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div>
				<form class="d-flex">
					<button class="btn btn-outline-success" type="submit">Cerrar sesión</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container-fluid  h-100 ">
		<div class="row w-75 position-absolute top-50 start-50 translate-middle">
			<div class="col-3">
				<button class="btn btn-outline-success">Atender soporte</button>
			</div>
			<div class="col-3">
				<button class="btn btn-outline-success">Visializar soporte</button>
			</div>
			<div class="col-3">
				<button class="btn btn-outline-success">Responder soporte</button>
			</div>
			<div class="col-3">
				<button class="btn btn-outline-success">Agregar documento</button>
			</div>

		</div>
	</div>
{% endblock %}
